<p>Dear {{ name }},</p>
<p>This is your requested reset password email</p>
<p>Please click this button below to set your new password</p>
<p>
    <a href="{{ url }}">Reset password</a>
</p>
<p>This email will expire within 1 hour</p>


<p>If you did not request this email you can safely ignore it.</p>
